@page "/about"
@inject PageTitleService pageTitle

<h1>
    About
</h1>

<img src="https://docs1.toradex.com/107993-torizon-logo-white.png"
     width="512" 
     height="132"
>

<table class="table striped">
    <tbody>
        @foreach (var info in infos)
        {
            <tr>
                <th scope="row">
                    @info.Title
                </th>
                <td>
                    @info.Description
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Info> infos = new List<Info>();

    private void AddInfo (string title, string desc)
    {
        var info = new Info();
        info.Title = title;
        info.Description = desc;
        infos.Add(info);
    }

    protected override void OnInitialized()
    {
        var distro = Microsoft.DotNet.PlatformAbstractions
                        .RuntimeEnvironment.OperatingSystem;
        var distroVersion = Microsoft.DotNet.PlatformAbstractions
                                .RuntimeEnvironment.OperatingSystemVersion;

        AddInfo(
            "Hardware Architecture",
            RuntimeInformation.OSArchitecture.ToString()
        );
        
        AddInfo(
            "OS Description",
            RuntimeInformation.OSDescription.ToString()
        );
        
        AddInfo(
            "Distro",
            $"{distro}:{distroVersion}"
        );
        
        AddInfo(
            "Runtime Info",
            "????"
            //RuntimeInformation.FrameworkDescription.ToString()
        );

        pageTitle.HeaderTitle = "About";
    }
}
