<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">????</a>
</div>

<div>
    <ul class="t-menu t-menu-large open">
        <li>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="mif-apps icon"></span> 
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="data">
                <span class="mif-database icon"></span> 
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="about">
                <span class="mif-featured-play-list mif-5x icon"></span> 
            </NavLink>
        </li>
    </ul>
</div>
